*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#2B043D;
    color:#F5F5F5;
    font-family:Segoe UI,Arial,sans-serif;
    padding:40px;
}

.container{

    max-width:1300px;
    margin:auto;
}

header{

    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;
}

h1{

    color:#D291FF;
    font-size:42px;
}

header p{

    color:#D7C9E8;
    margin-top:10px;
    font-size:18px;
}

.status{

    display:flex;

    align-items:center;

    gap:10px;

    padding:12px 20px;

    border-radius:999px;

    color:white;

    font-weight:700;

    letter-spacing:1px;

    font-size:15px;

    box-shadow:0 8px 20px rgba(0,0,0,.25);

}

.cards{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin-bottom:30px;
}

.card{

    background:#4B1768;
    padding:25px;
    border-radius:16px;
    transition:0.3s;
}

.card:hover{

    transform:translateY(-5px);
    background:#5A1E7D;
}

.card h3{

    color:#D7C9E8;
    margin-bottom:20px;
}

.card h2{

    font-size:40px;
    color:#D291FF;
}

.panel{

    background:#4B1768;
    margin-bottom:25px;
    padding:25px;
    border-radius:16px;
}

.panel h2{

    margin-bottom:15px;
    color:#D291FF;
}

.panel p{

    color:#D7C9E8;
}

.status-circle{

    width:12px;

    height:12px;

    border-radius:50%;

    background:white;

    animation:pulse 2s infinite;

}

@keyframes pulse{

    0%{

        transform:scale(1);

        opacity:1;

    }

    50%{

        transform:scale(1.35);

        opacity:.65;

    }

    100%{

        transform:scale(1);

        opacity:1;

    }

}

.health-message{

    margin-top:25px;

    margin-bottom:30px;

    padding:22px;

    border-radius:18px;

    background:#4f1d73;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

}

.health-message h3{

    color:#d69cff;

    margin-bottom:10px;

}

.health-message p{

    color:#efe7ff;

    margin:0;

    font-size:17px;

}
