{% extends "base.html" %}

{% block content %}

<div class="container">

    <header>

        <div>
            <h1>SmartOps !! :D</h1>
            <p>A 'Self-Healing' DevOps Platform</p>
        </div>

        <div class="status">
            Healthy
        </div>

    </header>


    <section class="cards">

        <div class="card">
            <h3>CPU Usage</h3>
            <h2>{{ cpu }}%</h2>
        </div>

        <div class="card">
            <h3>RAM Usage</h3>
            <h2>{{ ram }}%</h2>
        </div>

        <div class="card">
            <h3>Disk Usage</h3>
            <h2>{{ disk }}%</h2>
        </div>

        <div class="card">
            <h3>Containers</h3>
            <h2>{{ containers }} Running</h2>
        </div>

    </section>


    <section class="panel">

    <h2>Recent Incidents</h2>

    {% if incidents %}

        {% for incident in incidents[:5] %}

            <p>
                <strong>{{ incident.timestamp }}</strong><br>

                {{ incident.container }}

                |

                {{ incident.action }}

                |

                {{ incident.status }}
            </p>

            <hr>

        {% endfor %}

    {% else %}

        <p>No incidents detected.</p>

    {% endif %}

  </section>


    <section class="panel">

    <h2>Recovery Activity</h2>

    {% if recoveries %}

        {% for recovery in recoveries[:5] %}

            <p>
                <strong>{{ recovery.timestamp }}</strong><br>

                {{ recovery.container }}

                |

                {{ recovery.action }}

                |

                {{ recovery.status }}
            </p>

            <hr>

        {% endfor %}

    {% else %}

        <p>No recovery actions performed.</p>

    {% endif %}

</section>


    <section class="panel">

        <h2>Recent Logs</h2>

        <p>Waiting for monitoring service...</p>

    </section>


</div>

{% endblock %}